<div class="parent">
  <mat-card class="card">

    <mat-card-header>

      <div mat-card-avatar class="header-image">
        <img *ngIf="recipe?.avatar" mat-card-image [src]="recipe?.avatar" class="avatar">
      </div>

      <mat-card-title [routerLink]="['/profile', recipe?.username]" class="username">
        <div class="user">
          {{ recipe?.username }}
        </div>
      </mat-card-title>

    </mat-card-header>

    <div style="text-align: center; margin-bottom: 15px;">
      <mat-card-title>{{ recipe?.name }}</mat-card-title>
      <mat-label>{{ recipe?.description }}</mat-label>
    </div>


    <div>
      <img class="image" mat-card-image [src]="recipe?.picture">
    </div>

    <div class="form-group star-rating">
      <div class="stars">
        <ngb-rating [(rate)]="currentRate" max="5" (hover)="hoveredRate=$event">
          <ng-template let-fill="fill" let-index="index">
            <span
              class="star"
              [class.filled]="fill === 100"
              [class.bad]="index == 0"
              [class.good]="index == 4"
              [title]="hoveredRate">
              &#9733;
            </span>
          </ng-template>
        </ngb-rating>
      </div>


      <div class="rate-button">
        <button
        class="btn btn-warning mr-3 offset-md-1"
        (click)="rateRecipe()">
        Oceń przepis
      </button>
      </div>


    </div>


    <div class="container recipeInfo">
      <div class="row">
        <div class="col-sm" style="text-align: center;">
          <mat-card class="info">
            <div>
              <span>Ocena: </span>
            </div>
            <div>
              <app-star [rating]="recipe?.rating"></app-star>
            </div>

          </mat-card>
        </div>
        <div class="col-sm" style="text-align: center;">
          <mat-card class="info">
            <div>
              <span>Trudność wykonania: </span>
            </div>
            <div>
              {{ difficulty }}
            </div>
          </mat-card>
        </div>
        <div class="col-sm" style="text-align: center;">
          <mat-card class="info">
            <div>
              <span>Czas przygotowania: </span>
            </div>
            <div>
              {{ prepTime }}
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <hr>

    <div class="container">
      <mat-card-content>

        <mat-card-title>Składniki</mat-card-title>
        <div class="ingredients">
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item"
              *ngFor="let ingredient of recipe?.recipeIngredients | sort: 'name'">
              <div style="display: inline-block;">{{ ingredient?.name | titlecase }}&nbsp;&nbsp;</div>
              <div style="display: inline-block;">{{ ingredient?.amount }}</div>
            </li>
          </ul>
        </div>




      </mat-card-content>
    </div>

    <hr>

    <div class="container">
      <mat-card-content>
        <mat-card-title>Przygotowanie</mat-card-title>
        <div class="preparation">
          <p>{{ recipe?.preparation }}</p>
        </div>
      </mat-card-content>

    </div>

    <div class="container">
      <mat-card-actions>
        <button
          *ngIf="!recipe?.inCookbook"
          type="button"
          style="margin-right: 3px;margin-left: 20px;margin-top: 25px;"
          class="btn btn-success"
          (click)="addToCookbook()">
          Dodaj do ulubionych
        </button>
        <button
          *ngIf="recipe?.inCookbook"
          type="button"
          style="margin-right: 3px;margin-left: 20px;margin-top: 25px;"
          class="btn btn-danger"
          (click)="removeFromCookbook()">
          Usuń z ulubionych
        </button>

        <button
          *appOwnRecipe="recipe?.username"
          type="button"
          style="margin-right: 3px;margin-left: 20px;margin-top: 25px;"
          class="btn btn-warning"
          [routerLink]="['/recipe', recipe?.id, 'edit']"
          routerLinkActive="router-link-active">
          Edytuj przepis
        </button>
      </mat-card-actions>
    </div>


  </mat-card>

  <mat-card class="card">
    <mat-form-field class="textarea">
      <textarea
        name="comment"
        [(ngModel)]="comment"
        matInput
        rows="5"
        placeholder="Twój komentarz"></textarea>
    </mat-form-field>

    <button
      type="button"
      class="btn btn-primary mr-3 offset-md-5"
      style="width:120px;font-family: Georgia, 'Times New Roman', Times, serif;"
      (click)="commentRecipe()">
      Skomentuj
    </button>

    <hr>

    <div class="comments">
      <mat-card class="card1" *ngFor="let comment of recipe?.comments">
        <mat-card-header>
          <div mat-card-avatar class="header-image">
            <img *ngIf="comment?.avatar" mat-card-image [src]="comment?.avatar" class="avatar">
          </div>
          <mat-card-title [routerLink]="['/profile', comment?.username]" class="username">
            <div class="user">
              {{ comment?.username }}
            </div>
          </mat-card-title>
        </mat-card-header>
        <div class="card" >
          <div class="card-body">
            {{ comment?.comment }}
          </div>
        </div>
        <mat-card-footer class="commentDate">
          {{ comment?.createdDate | date:'medium' }}
        </mat-card-footer>
      </mat-card>
    </div>


  </mat-card>


</div>
