.parent {

  .user:hover {
    cursor: pointer;
    color: lightblue;
  }

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

  .card1 {
    margin: 20px;
  }

  .card {
    margin: 10px;
    border-width: thick;

    .star-rating {

      display: block;
      width: 300px;
      margin: auto;

      .stars {
        display: block;
        display: flex;
        justify-content: center;
        margin-left: 10px;

        .star {
          font-size: 2rem;
          color: #b0c4de;
        }
        .filled {
          color: #1e90ff;
        }
        .bad {
          color: #deb0b0;
        }
        .filled.bad {
          color: #ff1e1e;
        }
        .good {
          color: #F0E68C;
        }
        .filled.good {

          color: gold;
        }
      }

      .rate-button {
        display: flex;
        justify-content: center;
      }

    }

    .header-image {
      background-size: cover;
      margin-top: 7px;
      margin-left: 15px;

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .username {
        text-align: left;
        cursor: pointer;
      }
    }

    .image {
      display: block;
      max-width: 700px;
      max-height: 700px;
      margin: auto;
      border-radius: 7%;
      padding: 30px;
    }


    .recipeInfo {

      margin-top: 20px;

      .info {
        display: block;
        margin: 10px;
        border-width: thick;
        background-color: lightsteelblue;
      }
    }

    .ingredients {
      margin-left: 60px;
    }

    .preparation {
      margin-left: 60px;
    }

    .textarea {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      min-width: 600px;
    }

    .commentDate {
      text-align: right;
      margin-right: 30px;
    }
  }

}

