.items-block {
  margin-top: 30px;
  margin-left: 100px;

  .recipe {
    background-color: lightslategrey;
    border-color: black;
    border-radius: 2%;
    border-style: solid;
    width: 250px;
    height: 250px;
    margin: 5px;
    opacity: 0.9;
    cursor: pointer;

    .recipeDifficulty {
      position: absolute;
      bottom: 10px;
    }
  }
}
