<div class="container my-2">

  <label>Lodówka</label>

  <button
    class="btn btn-outline-danger btn-sm"
    style="margin-right: 0;float: right;"
    type="button"
    (click)="showFridgeInfo()">
    <i class="fa fa-lg fa-question-circle"></i>
  </button>

  <div class="form">
    <mat-form-field class="full-width">
      <input
        type="text"
        placeholder="Wybierz składnik"
        matInput
        [formControl]="myControl"
        [(ngModel)]="selectedIngredient"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option | titlecase }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button
      [disabled]="selectedIngredientDisabled()"
      class="btn btn-primary"
      (click)="addIngredientToFridge()">
      Dodaj składnik
    </button>
  </div>

  <div style="margin-bottom: 7px;">
    <mat-selection-list [(ngModel)]="selectedIngredients">
      <mat-list-option *ngFor="let ingredient of ingredients" [value]="ingredient.name">
        {{ ingredient.name | titlecase }}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="fridge-buttons" style="margin-top: 5px;">
    <button
      [disabled]="ingredientsSelectedDisabled()"
      class="btn btn-primary mr-3"
      style="width:110px;"
      (click)="removeSelected()">
      Usuń wybrane
    </button>
    <button
      [disabled]="ingredientsDisabled()"
      class="btn btn-primary mr-3"
      style="width:110px;margin-left: 20px;"
      (click)="saveFridge()">
      Zapisz lodówkę
    </button>
  </div>
</div>
