<div class="parent container">

  <div class="card-header" style="margin-top: 10px;">
    <h2 style="margin: 10px">Twoje ulubione przepisy</h2>
  </div>

  <div class="card recipes">
    <app-recipe-list style="margin-left: 9%;margin-bottom: 25px;" [recipePage]="recipePage"></app-recipe-list>
  </div>

  <div class="page-nav" *ngIf="!pageNav()">
    <app-page-nav
      [page]="recipePage?.currentPage"
      [totalPages]="recipePage?.totalPages"
      (changePage)="changePage($event)">
    </app-page-nav>
  </div>

</div>
