<div class="parent container">

  <div class="card-header" style="margin-top: 10px;">
    <h2 style="margin: 10px">Twoja książka kucharska</h2>
  </div>

  <div class="card recipes">
    <app-recipe-list [recipePage]="recipePage"></app-recipe-list>

    <div *ngIf="recipePage.totalResults === 0" style="margin: 20px;">
      <legend style="text-align: center;">Brak przepisów w książce kucharskiej</legend>
    </div>

    <div class="page-nav" style="margin-top: 20px;" *ngIf="recipePage.totalResults !== 0">
      <app-page-nav
        [page]="recipePage?.currentPage"
        [totalPages]="recipePage?.totalPages"
        (changePage)="changePage($event)">
      </app-page-nav>
    </div>

  </div>
</div>
