.nav-link {
  font-size: large;
  cursor: pointer;
}

.navbar-brand {
  font-size: xx-large;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #007ACC
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -4em;
}
