.parent {
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;

  .filter {
    width: 200px;
    // background: lightblue;
  }

  .recipes {

    flex: 1;
    // background: lightgreen;

    .search {
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
    }

    .search-button {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .fridge {
    // background: lightcoral;

  }

  .card {
    padding: 3px;
    margin: 3px;
    background: rgb(253, 253, 235);
  }

  .page {
    margin-right: 70px;
    margin-top: 15px;
  }
  .page-item {
    cursor: pointer;
    user-select: none;
    .fa {
      -webkit-text-stroke: 1px;
      color: black;
    }
  }
  .page-item.disabled {
    cursor: auto;
    .fa {
      color: rgb(173, 170, 170);
    }
  }
  .page-item.active {
    cursor: auto;
  }
  .page-link {
    font-weight: 700;
  }


}
